[Unit]
Description=Turn LEDs off after boot
Requires=dbus.socket
Before=lipstick.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/leds-off.sh

[Install]
WantedBy=multi-user.target
