[Unit]
Description=Restart mce, ofono and ngfd services
After=connman.service
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/droid/restart-services-S4.sh

[Install]
WantedBy=multi-user.target